@font-face {
    font-family: 'retro-gaming';
    src: url('/docs/assets/fonts/Retro\ Gaming.ttf')
}

body {
    --header-background: rgba(18, 27, 81, 0.9);
    --header-font: #6C75A8;
    --header-font-hover: #E8EBFF;
    width: 100vw;

}
main {
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(18, 27, 81); */
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    right: 0;
    left: 0;

    padding: 1.25rem 5rem;

    background-color: var(--header-background);
    
    font-family: 'retro-gaming';
    color: var(--header-font)
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    text-transform: uppercase;
    font-size: .8rem;
}



#nav-bar li {
    padding: .5rem 1.5rem;
}

#nav-bar li:hover {
    color: var(--header-font-hover);
    cursor: pointer;
}

#more::after {
    content: url('/docs/assets/img/icon-mais-menu.svg');
    margin-left: .5rem;
}

#more-information:hover {
    outline: thin solid #4A5387;
    z-index: 4;
}

#more:hover::after {
    content: url('/docs/assets/img/light-icon-mais-menu.svg');
}

#more-information li:nth-child(2), #more-information li:nth-child(3) {
    display: none;
}

#more-information:hover #more ~ .hidden {
    position: relative;
    display: block;
}



#countdown-timer {

    box-sizing: border-box;
    padding: 0.8rem 1rem;
    
    border: thin solid #B6B9F2;

}
